<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <table>
            <a href="/create">Crear</a>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((user)=> { %>
                    <tr>
                        <td>
                            <%=user.id_cliente%>
                        </td>
                        <td>
                            <%=user.telefono%>
                        </td>
                        <td>
                            <%=user.direccion%>
                        </td>
                        <td>
                            <a href="/edit/<%= user.id_cliente %>">Editar</a>
                            <a href="/delete/<%= user.id_cliente %>">Borrar</a>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>
</body>

</html>