<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/public/admin/style.css">
</head>

<body>
    <%- include('../partials/navAdmin') %>
        <h1>Lista de Productos</h1>
        <a class="green-btn" href="/admin/productos/agregar">Agregar Producto</a>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto=> { %>
                    <tr>
                        <td>
                            <%= producto.id %>
                        </td>
                        <td>
                            <%= producto.nombre %>
                        </td>
                        <td>
                            <%= producto.descripcion %>
                        </td>
                        <td>
                            <%= producto.precio %>
                        </td>
                        <td>
                            <%= producto.categoria %>
                        </td>
                        <td>
                            <%= producto.stock %>
                        </td>
                        <td>
                            <a class="yellow-btn" href="/admin/productos/editar/<%= producto.id %>">Editar</a>
                            <form action="/admin/productos/eliminar/<%= producto.id %>" method="POST"
                                style="display:inline;">
                                <button class="red-btn" type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
</body>

</html>